.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgba(106, 44, 112, 0.4);
    gap: 18px;
    width: var(--sidebar-width);
    flex-shrink: 0;
    padding-top: 45px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: var(--dark-gray);
    font-family: var(--font-title);
    font-size: 22px;
    padding: 8px 18px;
    transition: 0.2s ease;
}

.sidebar-option svg {
    color: var(--dark-gray);
    flex-shrink: 0;
}

.sidebar-option:hover {
    color: var(--highlight);
}

.sidebar-option:hover svg {
    color: var(--highlight);
}