@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --font-title: 'Audiowide', sans-serif;
  --font-text: 'Montserrat', sans-serif;
  --primary: #6A2C70;
  --secondary: #F08A5D;
  --highlight: #F9ED69;
  --dark-gray: #393939;
  --white: #ffffff;
  --sidebar-width: 225px;
}

h1, h2, h3 {
  font-family: 'Audiowide', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
